{% extends "core/base.html" %}

{% block title %}Events list {{ events.name }}{% endblock %}

{% block content %}
    <a href="{% url "events:event_create"%}">Создать событие</a>
    <div>
        <form action="" method="get">
        Sort:
        <select name="sort">
            <option {% if sort == "name"%}selected{% endif %} value="name"> By Name </option>
            <option {% if sort == "id" %}selected{% endif %} value="id"> By ID </option>
        </select>
        Search:
        <input name="search">
        <button>Go</button>
        </form>
    </div>
    {% for event in events %}
        <a href="{% url "events:event_detail" pk=event.id %}">{{ event|default:"def event" }}</a>
        {% if not forloop.last %},{% endif %}
    {% endfor %}
    <br>
    <a href="/">To the main page</a>
    {{ username }}
{% endblock %}